*{
    margin: 0;
    padding: 0;
    font-family: 'Arima', cursive;
}


/* GRID */
.grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 0.3fr 1fr 1fr 0.8fr;
    grid-template-areas: 
    "menu           menu        menu"
    "nota       principal     principal"
    "nota       principal     principal"
    "copy        copy         copy   "
    ;
}

.cabeza{
    grid-area: menu;
}
.publi{
    grid-area: nota;
}

.galeria{
    grid-area: principal;
}
.pie{
    grid-area: copy;
}



/* menu */
.cabeza__span{
    font-size: 0.7rem;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
}
.cabeza__span p{
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.cabeza__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
.cabeza__menu--logo{
    font-weight: 700;
    font-size: 1.5rem;
}
.cabeza__menu ul{
    display: flex;
    width: 24rem;
    justify-content: space-around;
}

.cabeza__menu ul li{
    list-style: none;
}
.cabeza__menu ul li a{
    text-decoration: none;
    color:#000;
}
/* aside */
p{
    color: #1b1a1a;
    margin: 3rem;
}
/* galeria */
.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 2rem 0 3rem;
}

.galeria__producto{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 14rem;
    text-align: justify;
}
.galeria__producto img{
    width: 14rem;
}
.galeria__desc{
    margin: 0;
    padding: 10px;
    font-size: 0.8rem;
}
.galeria__button{
    background-color: #000;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 10px;
}

.pie{
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

👉 Si yo codeo desde "desktop" a "mobile" -> max-width
👉 Si yo codeo desde "mobile" a "desktop" -> min-width

*/

/* Todo lo que tengo antes es "desktop" */

/* tablet */
@media (max-width: 768px){
    .grid__container{
        background-color: rgb(178, 178, 16);
    }
    .galeria__button{
        display: none;
    }
    .galeria__producto img {
        width: 6rem;
    }
}

/* mobile */
@media (max-width: 576px){
    .grid__container{
        background-color: rgb(62, 165, 165);
        grid-template-columns:  1fr ;
    grid-template-rows: 0.3fr 1fr 1fr 0.2fr;
    grid-template-areas: 
    "menu "
    "principal"
    "nota"
    "copy"
    ;
    }
    .galeria__button{
        display: block;
    }
}